services:
  server:
    image: restify-server
    depends_on:
      - postgres
      - seq
    networks:
      - restify-net
    build:
      context: .
      dockerfile: RestifyServer/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Production
        - ConnectionStrings__Default=Host=restify-db;Port=5432;Database=${DB_SOURCE};Username=${DB_USER};Password=${DB_PASSWORD}
    ports:
      - "8080:8080"
  client:
    image: restify-client
    depends_on:
        - postgres
        - seq
        - server
    networks:
        - restify-net
    ports:
        - "80:80"
    build:
        context: ./RestifyClient
        dockerfile: Dockerfile
  postgres:
    image: postgres:16
    container_name: restify-db
    restart: unless-stopped
    networks:
        - restify-net
    environment:
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_DB: $DB_SOURCE
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  seq:
      image: datalust/seq:latest
      container_name: seq
      restart: unless-stopped
      networks:
          - restify-net
      environment:
          ACCEPT_EULA: "Y"
          SEQ_FIRSTRUN_ADMINPASSWORD: "admin"
      volumes:
          - seqdata:/data
      ports:
          - "5341:80"

volumes:
  pgdata:
  seqdata:
networks:
  restify-net:
