services:
  restifyserver:
    image: restifyserver
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: RestifyServer/Dockerfile
    ports:
      - "8080:8080"
  postgres:
    image: postgres:16
    container_name: restifydb
    restart: unless-stopped
    environment:
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_DB: $DB_SOURCE
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
