name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
    contents: write

jobs:
  build-server:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: 0
            persist-credentials: true
        
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore

      - name: Format check
        run: dotnet format --verify-no-changes --verbosity minimal

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Test
        run: dotnet test --no-build -c Release --verbosity normal

      - name: Publish
        run: dotnet publish ./RestifyServer/RestifyServer.csproj -c Release -o ./out

      - name: Upload published artifact
        uses: actions/upload-artifact@v4
        with:
          name: restify-server
          path: ./out
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker build (server)
        run: docker build -t restify-server:latest -f ./RestifyServer/Dockerfile .
        
      - name: Tag
        if: github.event_name == 'push'
        run: |
            # Extract AssemblyVersion from csproj
            VERSION=$(dotnet msbuild RestifyServer/RestifyServer.csproj -nologo -t:GetAssemblyVersion -property:GenerateFullPaths=true | tail -n 1)
            
            # Fallback if AssemblyVersion is not found
            if [ -z "$VERSION" ]; then
              VERSION=$(grep -oPm1 "(?<=<AssemblyVersion>)[^<]+" RestifyServer/RestifyServer.csproj)
            fi
            
            TIMESTAMP=$(date -u +"%Y%m%d.%H%M%S")
            TAG="v$VERSION-$TIMESTAMP"
            
            echo "Tagging commit with: $TAG"
            
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            
            git tag "$TAG"
            git push origin "$TAG"
