name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
    contents: write
    packages: write

jobs:
  build-server:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: 0
            persist-credentials: true
        
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore

      - name: Format check
        run: dotnet format --verify-no-changes --verbosity minimal

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Test (RestifyServer.Tests)
        run: dotnet run --project RestifyServer.Tests/RestifyServer.Tests.csproj

      - name: Publish
        run: dotnet publish ./RestifyServer/RestifyServer.csproj -c Release -o ./out

      - name: Upload published artifact
        uses: actions/upload-artifact@v4
        with:
          name: restify-server
          path: ./out

      - uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            
      - uses: docker/build-push-action@v5
        with:
            push: true
            file: ./RestifyServer/Dockerfile
            tags: ghcr.io/${{ github.repository_owner }}/restify-server:latest
        
      - name: Tag
        if: github.event_name == 'push'
        run: |
            # Extract AssemblyVersion from csproj
            VERSION=$(dotnet msbuild RestifyServer/RestifyServer.csproj -nologo -t:GetAssemblyVersion -property:GenerateFullPaths=true | tail -n 1)
            
            # Fallback if AssemblyVersion is not found
            if [ -z "$VERSION" ]; then
              VERSION=$(grep -oPm1 "(?<=<AssemblyVersion>)[^<]+" RestifyServer/RestifyServer.csproj)
            fi
            
            TIMESTAMP=$(date -u +"%Y%m%d.%H%M%S")
            TAG="v$VERSION-$TIMESTAMP"
            
            echo "Tagging commit with: $TAG"
            
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            
            git tag "$TAG"
            git push origin "$TAG"
